{{#block "header"}}
    <!DOCTYPE HTML>
    <html>
    <head>
        <title>{{#block "title"}}Hero squad{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/myStyle.css">
        </title>
    </head>
    <body>
    <div class="container">
    <ul class="nav nav-tabs">
      <li><a href="/">Home</a></li>
      <li><a href="/heroes">Heroes</a></li>
      <li><a href="/squads">Squads</a></li>
      <li><a href="/form">Add Hero</a></li>
    </ul>


{{/block}}


    {{#block "content"}}{{/block}}
</div>
<!-- end inner template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}