{{#partial "title"}}Homepage{{/partial}}
{{#partial "content"}}
    <div class="wholepage">
    <img src="/images/homepage.jpg" alt="Homepage display wallpaper ">
    </div>
{{/partial}}

{{>layout.hbs}}